
h1{
  bstyle="
  font-size:50px; 
   margin-left: 11em;
  margin-right:10em;
  color: #eaf0ce;
  background-color: #574b60;
  font-family:bradley hand;
}
.juzhong{
	margin-left: 30em;
  margin-right:0em;  
}
.juzhong2{
	margin-left: 0em;
  margin-right:0em;  
}
.juzhong3{
	margin-left: 53em;
  margin-right:0em;  
}
.juzhong4{
	margin-left: 30em;
  margin-right:0em; 
}
h2 {
  style="
  font-size:25px; 
  background-color:#C0C5C1;
  font-family:bradley hand;
  color:#574B60
}
h3 {style="font-family:bradley hand;
  color:#574B60 
}
h6 {
  style="
  font-family:arial black;
  font-size:14px >Color Palate
}
h5 {
  style="
  font-size: 14px;
  font-family:bradley hand;
  color:#574B60
}
button {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
 .button1 {
  background-color: #3F334D; 
  color: #EAF0CE; 
  border: 10px solid #7D8491;
  margin-left: 45em;
  margin-right:0em;
}

.button1:hover {
  background-color: #7D8491;
  color: red;
}
.button:active{
   background-color: #c0c5c1;
   color: #574b60;
 }

.button2 {
  background-color: #3F334D; 
  color: #EAF0CE; 
  border: 0px solid #C0C5C1;
}
.button2:hover {
  background-color: #7D8491;
  color: red;
}
.button:active{
   background-color: #c0c5c1;
   color: #574b60;
 }
 img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 248px;
}

