h1 {
	background-color: red;
}
h2 {
	style="
  font-size:25px; 
  background-color:#C0C5C1;
  font-family:bradley hand;
  color:#574B60
}
h3 {style="font-family:bradley hand;
  color:#574B60 
}

h4 {
	Pleast write which bottton you clicked
}
h6 {
	style="
  font-family:arial black;
  font-size:14px >Color Palate
}
h5 {
	style="
  font-size: 14px;
  font-family:bradley hand;
  color:#574B60
}
link {style="
  font-size:25px; 
  background-color:darkblue;
  font-family:bradley hand;
  color:powderblue;}
 p{
 	front-family: helvitca;
 	color: #574B60;
 }
 img{
 	border-radius: 6px;
 }

button {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
 .button1 {
  background-color: #3F334D; 
  color: #EAF0CE; 
  border: 0px solid #7D8491;
}

.button1:hover {
  background-color: #7D8491;
  color: red;
}

.button2 {
  background-color: #3F334D; 
  color: #EAF0CE; 
  border: 0px solid #C0C5C1;
}
